name: djcelery

services:

  redis: 
    image: redis:7.0.11-alpine

  django:
    container_name: django
    build: 
      context: ./djcelery
    command: python manage.py runserver 0.0.0.0:7000
    volumes:
      - ./djcelery:/usr/src/app/
    ports:
      - 7000:7000
    environment:
      - DEBUG=1
      - SECRET_KEY=django-insecure-e8n5kt-2(%us!@ws^a@(uh-c92=gl#a#*5+_4)ac@mo$_!c*8e
      - ALLOWED_HOSTS=127.0.0.1,localhost
    depends_on:
      - redis 

  celery1:
      container_name: celery1
      build: 
        context: ./djcelery
      command: celery --app=djcelery worker -l INFO -Q queue2
      volumes:
        - ./djcelery:/usr/src/app/
      environment:
        - DEBUG=1
        - SECRET_KEY=django-insecure-e8n5kt-2(%us!@ws^a@(uh-c92=gl#a#*5+_4)ac@mo$_!c*8e
        - ALLOWED_HOSTS=127.0.0.1,localhost
      depends_on:
        - redis 
        - django


  celery2:
      build: 
        context: ./celeryworker
        dockerfile: Dockerfile
      command: celery -A celerytask worker -l INFO -Q queue2
      volumes:
        - ./celeryworker:/usr/src/app/
      depends_on:
        - redis 
        - django